body{
    box-sizing: border-box;
    background-color: rgba(206, 229, 160, 0.7);
}

.top-div{
    background-color: rgb(165, 206, 83);
}



.col{
    padding: 1rem
}

.card{
    padding: 1.2rem
}

.button-div{
    display: inline-flex;
    justify-content: space-around ;
}


.mode h5 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
.mode p{
    font-size: 1.0rem;
    margin:10px
}
  

.hidden {
    display: none;
}
  
.mode {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    background-color: white;
    padding:4rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
}
  
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
} 

.close-mode {
    position: absolute;
    top: -1rem;
    right: 0.7rem;
    font-size: 3rem;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
}